<%= form_for(@user) do |f| %>
<<<<<<< HEAD
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :userid %><br>
      <%= f.text_field :userid %>
    </div>
    <div class="field">
      <%= f.label :account %><br>
      <%= f.text_field :account %>
    </div>
    <div class="field">
      <%= f.label :password_digest %><br>
      <%= f.text_field :password_digest %>
    </div>
    <div class="field">
      <%= f.label :qq %><br>
      <%= f.text_field :qq %>
    </div>
    <div class="field">
      <%= f.label :weixin %><br>
      <%= f.text_field :weixin %>
    </div>
    <div class="field">
      <%= f.label :weiblog %><br>
      <%= f.text_field :weiblog %>
    </div>
    <div class="field">
      <%= f.label :renren %><br>
      <%= f.text_field :renren %>
    </div>
    <div class="field">
      <%= f.label :flow %><br>
      <%= f.number_field :flow %>
    </div>
    <div class="field">
      <%= f.label :integral %><br>
      <%= f.number_field :integral %>
    </div>
    <div class="field">
      <%= f.label :errorTime %><br>
      <%= f.number_field :errorTime %>
    </div>
    <div class="field">
      <%= f.label :nickname %><br>
      <%= f.text_field :nickname %>
    </div>
    <div class="field">
      <%= f.label :gender %><br>
      <%= f.text_field :gender %>
    </div>
    <div class="field">
      <%= f.label :birthday %><br>
      <%= f.datetime_select :birthday %>
    </div>
    <div class="field">
      <%= f.label :age %><br>
      <%= f.number_field :age %>
    </div>
    <div class="field">
      <%= f.label :photo %><br>
      <%= f.text_field :photo %>
    </div>
    <div class="field">
      <%= f.label :signature %><br>
      <%= f.text_field :signature %>
    </div>
    <div class="field">
      <%= f.label :login_at %><br>
      <%= f.datetime_select :login_at %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>